html,
body {
  height: 100%;
  font-size: 16px;
  font-family: 'proxima-nova', 'Raleway', Helvetica, sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 40px;
}
/* footer */

.footer {
  position: relative;
  clear: both;
  padding-top: 20px;
  color: #ffffff;
  background-color: #000000;

}

.footer-left {
  text-aliign: left;
}

.footer a {
  color: #000000;
}

/* navbar */

.navbar {
  margin-bottom: 0px;
  background-color: #000000;
  border: none;
}

.navbar-default, .navbar-brand , .navbar-default .navbar-nav>li>a {
  color: #ffffff!important;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  background-color: #4F608F;
  color: #FFFFFF;
}


/* main section div's */
/* main section links white*/
.main-section a {
    color: #000000;
    text-decoration: underline;
}

.main-section {
  color: #FFFFFF;
  min-height: 400px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 75px;
}

.main-section p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  vertical-align: middle;
}

/*jumbotron*/

.jumbotron {
  margin-bottom: 0px;
}

.jumbotron hr {
  max-width: 80%;
}

.jumbotron a {
  text-decoration: none;
}

/*about section*/

.about img {
  padding: 10px;
}

.home,
.portfolio {
  background-color: #4F608F;
}
.portfolio {
  padding: 0;
}

.about,
.contact {
  background-color: #162756;
}

.contact-section li {
  padding: 10px;
}

.contact-section li button {
  width: 115px;
}
/*button styling*/

.btn-default:hover {
  background-color: #000000;
  color: #ffffff;
}
/*portfolio */

.portfolio img {
  border: 1px solid #000000;
  border-radius: 50%;
  opacity: 0.6;
}

.portfolio img:hover {
  border: 2px solid #000000;
  opacity: 1;
}
.caption h3 {
  margin-top: 5px;
  padding-bottom:10px;
}

.footer, .about {
  background: url('../images/green_cup_kq4xth.png') top left repeat;
   color: #000000;
}

#frontEnd, #dataVis{
   background: url('../images/cheap_diagonal_fabric_hf5wvi.png') top left repeat;
   color: #000000;
}

#backEnd, #contact, .jumbotron {
   background: url('../images/dark_fish_skin__2X_flbhqo.png') top left repeat;
   color: #ffffff;
}

#backEnd a, #contact a, .jumbotron a {
  color: #ffffff;
}

#frontEnd a, #dataVis a {
   color: #000000;
}

#backEnd{
  /* background-color: #3e4249; */
  background-color: #4F608F;
}
#frontEnd, #dataVis, #contact, #backEnd, .footer {
  padding-top: 50px;
  padding-bottom: 50px;
}
