body {
  background-color: #000000;
  color: #ffffff;
  font-size: 26px;
}

#timer {
  height: 300px;
  border: 1px solid;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

#timer h1 {
  padding-top: 20%;
}

#break-low:hover,
#break-high:hover,
#session-high:hover,
#session-low:hover,
#timer:hover {
  cursor: pointer;
}

.btn {
  font-size: 26px;
}
